<form method="GET" action="/movies">
  <h1>Title: <%= @movie.title %></h1>
  <h2>Director: <%= @movie.director %></h2>
  <h3>Released: <%= @movie.year %></h3>
  <h4>Plot: <%= @movie.plot %></h4>
  <h5>English: <%= @movie.english %></h5>
</form>